
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Courier+Prime&family=Darker+Grotesque&family=Inter:wght@300;400&family=Kanit:wght@300&family=Montserrat:wght@500&family=Poppins:wght@100;300;500&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Courier+Prime&family=Darker+Grotesque&family=Inter:wght@300;400&family=Kanit:wght@300&family=Montserrat:wght@500&family=Poppins:wght@100;300;500&family=Press+Start+2P&family=Roboto:wght@300&display=swap');

/*web*/
*{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-color: rgb(36, 36, 36);
}

.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(240, 245, 243, 0.465);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.caixa-avatar{
    margin-top: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.bloco-link{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(61, 60, 60);
    color: white;
    text-decoration: none;
    position: fixed;
    border-radius: 10%;
    margin-top: 100px;
    margin-left: 20px;
    padding: 8px;
    transition: all .5s;
  }


.nome{
    color: white;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    padding-top: 20px;
    padding-bottom: 20px;
}

.organizacao{
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px 0px 0px 2px;
    padding-top: 3px;
    background-color: green;
    width: 25px;
    font-size: 15px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nivel-acesso{
    box-sizing: border-box;
    text-align: center;
    border-radius: 0px 2px 2px 0px;
    padding-top: 3px;
    font-size: 15px;
    width: 100px;
    height: 25px;
    background-color: crimson;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.caixa-nivel{
    display: flex;
    justify-content: center;
}

.caixa-dados{
    display: flex;
    justify-content: center;
}

.dica-filmes-texto{
    font-size: 16px;
}

.caixa-filmes{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.caixa-filmes div{
    border-radius: 8px;
    box-sizing: border-box;
    padding: 25px 0;
    margin-left: 70px;
    margin-right: 70px;
}
.texto-filme-1{
    color: white;
    font-size: 16px;
    line-height: 18px;
} 

.numero-filme-1{
    font-family: 'Press Start 2P', cursive;
    color: crimson;
    font-size: 30px;
    font-weight: bold;
    text-align: initial;
}

.titulo-filme-1{
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.numero-filme-2{
    font-family: 'Press Start 2P', cursive;
    color: crimson;
    font-size: 30px;
    font-weight: bold;
    text-align: initial;
}

.titulo-filme-2{
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.texto-filme-2{
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    line-height: 18px;
}

.numero-filme-3{
    font-family: 'Press Start 2P', cursive;
    color: crimson;
    font-size: 30px;
    font-weight: bold;
    text-align: initial;
}

.titulo-filme-3{
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.texto-filme-3{
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-right: 30px;
    line-height: 18px;
}

.numero-filme-4{
    font-family: 'Press Start 2P', cursive;
    color: crimson;
    font-size: 30px;
    font-weight: bold;
    text-align: initial;
}

.titulo-filme-4{
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.texto-filme-4{
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    line-height: 18px;
}

.numero-filme-5{
    font-family: 'Press Start 2P', cursive;
    color: crimson;
    font-size: 30px;
    font-weight: bold;
    text-align: initial;
}

.titulo-filme-5{
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.texto-filme-5{
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    line-height: 18px;
}

.numero-filme-6{
    font-family: 'Press Start 2P', cursive;
    color: crimson;
    font-size: 30px;
    font-weight: bold;
    text-align: initial;
}

.titulo-filme-6{
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.texto-filme-6{
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    line-height: 18px;
}

/*mobile*/
@media only screen and (max-width: 375px) {
    *{
        margin: 0px;
        font-family: 'Roboto', sans-serif;
    }

    a{
        text-decoration: none;
        color: white;
    }
    
    body{
        background-color: rgb(36, 36, 36);
    }
    
    .avatar{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border-style: solid;
        border-color: rgba(240, 245, 243, 0.465);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .caixa-avatar{
        padding-left: 80px;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
    }
    
    .bloco-link{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: rgb(61, 60, 60);
        color: white;
        text-decoration: none;
        position: fixed;
        border-radius: 10%;
        margin-top: 100px;
        margin-left: 10px;
        padding: 8px;
        transition: all .5s;
      }
    
    .nome{
        color: white;
        font-size: 20px;
        font-family: 'Press Start 2P', cursive;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .organizacao{
        box-sizing: border-box;
        text-align: center;
        border-radius: 3px 0px 0px 2px;
        padding-top: 3px;
        background-color: green;
        width: 25px;
        font-size: 15px;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .nivel-acesso{
        box-sizing: border-box;
        text-align: center;
        border-radius: 0px 2px 2px 0px;
        padding-top: 3px;
        font-size: 15px;
        width: 100px;
        height: 25px;
        background-color: crimson;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .caixa-nivel{
        display: flex;
        justify-content: center;
    }
    
    .caixa-dados{
        display: flex;
        justify-content: center;
    }
    
    .dica-filmes-texto{
        font-size: 16px;
    }
    
    .caixa-filmes{
        display: flex;
        flex-direction: column;
    }
    
    .texto-filme-1{
        color: white;
        font-size: 16px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        line-height: 18px;
    }
    
    
    .numero-filme-1{
        font-family: 'Press Start 2P', cursive;
        color: crimson;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    
    .titulo-filme-1{
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .numero-filme-2{
        font-family: 'Press Start 2P', cursive;
        color: crimson;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    
    .titulo-filme-2{
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .texto-filme-2{
        color: white;
        font-size: 16px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        line-height: 18px;
    }

    .numero-filme-3{
        font-family: 'Press Start 2P', cursive;
        color: crimson;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    
    .titulo-filme-3{
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .texto-filme-3{
        color: white;
        font-size: 16px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        line-height: 18px;
    }
   
    
    .numero-filme-4{
        font-family: 'Press Start 2P', cursive;
        color: crimson;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    
    .titulo-filme-4{
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .texto-filme-4{
        color: white;
        font-size: 16px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        line-height: 18px;
    }
    
    .numero-filme-5{
        font-family: 'Press Start 2P', cursive;
        color: crimson;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    
    .titulo-filme-5{
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .texto-filme-5{
        color: white;
        font-size: 16px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        line-height: 18px;
    }
   
    .numero-filme-6{
        font-family: 'Press Start 2P', cursive;
        color: crimson;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
    }
    
    .titulo-filme-6{
        color: white;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .texto-filme-6{
        color: white;
        font-size: 16px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        line-height: 18px;
    }
  }